* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #292936;
}

img {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  display: block;
}

.photo-card {
  scale: 1;
  flex-basis: calc((100% - (20px * (4 - 1)))/4);
  transition: box-shadow, scale 250ms;
  background-color: #23232a;
  border-radius: 8px 8px 8px 8px;
  display: block;
  height: auto;
}

.is-hiden {
  display: none;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 15px;
margin-top: 10px;
padding: 5px 15px 15px 15px;
border-radius: 0 0 8px 8px;
}

.info-item__statistic {
  color: #eeedff;
  // text-shadow: blue 2px 2px 15px,blue -2px -2px 15px,blue -2px 2px 15px,blue 2px -2px 15px;
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px;

  padding: 25px;
  padding-top: 95px;
}

.info {
  background-color:#23232a;
}

.search-fixed {
  position: fixed;
  left: 0;
  right:  0;
  transform: translate(0%, 0);
  z-index: 99;
}

.search-form {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  height: 70px;
  background-color: #23232a;
  box-shadow: 3px 3px 10px #08080b;
}

.search-form:hover,
.photo-card:hover,
.photo-card:focus{
  box-shadow: 3px 3px 50px blue;
}

.photo-card:hover,
.photo-card:focus {
  scale: 1.02;
}

button {
  border-radius: 6px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  background-color: #3333e3;
  transition: background-color 500ms;
}

body>button {
  margin-bottom: 10px;
}

button:hover,
button:focus {
  background-color: #5e5ed7;
  box-shadow: 0px 0px 15px blue;
  font-weight: 600;
}


form>div{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

div>input{
  margin-right: 5px;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
}

.photo-card {
  box-shadow: 3px 3px 10px #08080b;
}